<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.dao.repo.UserRepository">

    <select id="selectUserById" parameterType="java.lang.Long" resultType="com.demo.dao.po.UserPO">
        select * from user where id = #{id}
    </select>


    <update id="updateUser" parameterType="com.demo.dao.po.UserPO">
        update user
        <set>
            <if test="username != null and username != ''"> username = #{username},</if>
            <if test="age != null">age = #{age}, </if>
            <if test="name != null and name != ''"> name = #{name},</if>
            <if test="balance != null"> balance = #{balance} </if>
        </set>
        where id = #{id}
    </update>
</mapper>